 @charset "utf-8";
 .container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto; 
  width:auto;
  height:auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.top_menu{
	font-size : 1em;
	font-color: black;
}
.nav-link{
	padding:5px 15px 5px 8px;
	color:#5a6067;
}

.fixed-table-body {
  overflow-x: auto;
}


